*.air.toml
*.env

/bin/
/pkg/
/vendor/
*.log
*.tmp
*.swp
*.swo

.dockerignore
Dockerfile
docker-compose.yml

.env
.env.*

.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
